Exploration & Visualisation, EDA (Exploratory Data Analysis) / AED (analyse exploratoire des données)

In [ ]:
# 1er Dataset : Tendances des avis clients et décisions d'achat
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data_path = "../data/raw/Customer_Review (1).csv" # ! Attention au nom du fichier
df_reviews = pd.read_csv(data_path)

#Aperçu des données
df_reviews.head()
df_reviews.info()  # Vérifier les types de données
df_reviews.describe()

# Changement des types de données pour plus d’efficacité mémoire 
# et faciliter les visualisations
cols_to_convert = ['Gender', 'Education', 'Purchased']
df_reviews[cols_to_convert] = df_reviews[cols_to_convert].astype('category')

df_reviews.dtypes


# Nombre de doublons
duplicates = df_reviews.duplicated().sum()
print(f"Nombre de doublons : {duplicates}")

# Supprimer si nécessaire
df_reviews = df_reviews.drop_duplicates()


# Détection des incohérences dans les données
# Vérification des genres
# df_reviews['Gender'] = df_reviews['Gender'].str.strip().str.capitalize()
df_reviews['Gender'].value_counts()


# Vérification des niveaux d'éducation
df_reviews['Education'].value_counts()

# Vérification des valeurs dans la colonne 'Purchased'
df_reviews['Purchased'].value_counts()


# Vérification de la cohérence numérique des valeurs dans la colonne 'Age'
# Les ages seront présentés sous forme de statistiques descriptives
print(df_reviews['Age'].describe())

# Afficher directement les valeurs 
df_reviews["Age"].head()

# Sauvegarde du DataFrame nettoyé
df_reviews.to_csv('../data/processed/customer_reviews_cleaned.csv', index=False)


#Ou les visualiser graphiquement :
sns.histplot(df_reviews["Age"], kde=True, bins=10)
plt.title("Distribution de l'âge des clients")
plt.show()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Serial Number  100 non-null    int64
 1   Age            100 non-null    int64
 2   Gender         100 non-null    object
 3   Review         100 non-null    object
 4   Education      100 non-null    object
 5   Purchased      100 non-null    object
dtypes: int64(2), object(4)
memory usage: 4.8+ KB
Nombre de doublons : 0
count    100.000000
mean      37.910000
std       12.219454
min       18.000000
25%       26.750000
50%       38.000000
75%       46.250000
max       59.000000
Name: Age, dtype: float64

'\n#Ou les visualiser graphiquement :\nsns.histplot(df_reviews["Age"], kde=True, bins=10)\nplt.title("Distribution de l\'âge des clients")\nplt.show()\n'

In [ ]:
# Autre version 
# 1er Dataset : Tendances des avis clients et décisions d'achat
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data_path = "../data/raw/Customer_Review (1).csv"  # Vérifier le nom exact du fichier

# Chargement du dataset
df_reviews = pd.read_csv(data_path)

# --- Aperçu des données ---
df_reviews.head()
df_reviews.info()
df_reviews.describe()

# --- Conversion des types pour optimiser la mémoire et faciliter les visualisations ---
cols_to_convert = ['Gender', 'Education', 'Purchased']
df_reviews[cols_to_convert] = df_reviews[cols_to_convert].astype('category')

# --- Vérification et suppression des doublons ---
duplicates = df_reviews.duplicated().sum()
print(f"Nombre de doublons : {duplicates}")
df_reviews = df_reviews.drop_duplicates()

# --- Nettoyage des chaînes de caractères et standardisation ---
df_reviews['Gender'] = df_reviews['Gender'].str.strip().str.capitalize()  # Standardiser les genres
df_reviews['Education'] = df_reviews['Education'].str.strip().str.title()  # Standardiser l'éducation

# --- Vérification des valeurs uniques pour cohérence ---
print("Valeurs de Gender :", df_reviews['Gender'].value_counts())
print("Valeurs de Education :", df_reviews['Education'].value_counts())
print("Valeurs de Purchased :", df_reviews['Purchased'].value_counts())

# --- Gestion des valeurs manquantes ---
# Si tu veux remplacer les NaN, par exemple :
# df_reviews['Age'] = df_reviews['Age'].fillna(df_reviews['Age'].median())
# df_reviews['Gender'] = df_reviews['Gender'].fillna('Unknown')
# df_reviews['Education'] = df_reviews['Education'].fillna('Unknown')
# df_reviews['Purchased'] = df_reviews['Purchased'].fillna('No')

# --- Vérification des valeurs numériques ---
print(df_reviews['Age'].describe())

# --- Réinitialisation de l'index après suppression des doublons ---
df_reviews = df_reviews.reset_index(drop=True)

# --- Vérification finale ---
df_reviews.info()
df_reviews.head()

In [23]:
# 2ème Dataset : Analyse de la personnalité du client 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data_path = "../data/raw/marketing_campaign.csv"

# Lecture du fichier avec espace comme séparateur (plus sûr pour future version pandas)
df = pd.read_csv(data_path, sep='\s+', on_bad_lines='skip')

# Aperçu des données
df.head()
df.info()
df.describe()

# --- Conversion des types ---
df['Income'] = pd.to_numeric(df['Income'], errors='coerce')        # Income en float
df['Teenhome'] = pd.to_numeric(df['Teenhome'], errors='coerce')    # Teenhome en int
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], errors='coerce')  # Date

# --- Suppression des doublons ---
df = df.drop_duplicates(subset='ID')

# --- Gestion des valeurs manquantes ---
df['Income'] = df['Income'].fillna(df['Income'].median())
df['Teenhome'] = df['Teenhome'].fillna(0)
df['Response'] = df['Response'].fillna(0)   # ou laisser NaN si nécessaire
df['Dt_Customer'] = df['Dt_Customer'].ffill()  # remplissage vers l'avant

# --- Filtrage des valeurs aberrantes ---
df = df[(df['Year_Birth'] >= 1900) & (df['Year_Birth'] <= 2025)]   # âges cohérents
df = df[df['Income'] >= 0]                                         # income positif

# --- Standardisation des catégories de Marital_Status ---
valid_status = ['Married', 'Together', 'Single', 'Divorced', 'Widow']
df['Marital_Status'] = df['Marital_Status'].apply(lambda x: x if x in valid_status else 'Other')

# --- Conversion finale ---
df['Teenhome'] = df['Teenhome'].astype(int)

# --- Vérification finale ---
print(df.info())
print(df.describe())
print(df['Marital_Status'].value_counts())

# Réinitialisation de l'index après nettoyage
df = df.reset_index(drop=True)

# Sauvegarde du fichier nettoyé
df.to_csv('../data/processed/marketing_campaign_cleaned.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2040 entries, 0 to 2039
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2040 non-null   int64
 1   Year_Birth           2040 non-null   int64
 2   Education            2040 non-null   object
 3   Marital_Status       2040 non-null   object
 4   Income               2040 non-null   object
 5   Kidhome              2040 non-null   int64
 6   Teenhome             2040 non-null   object
 7   Dt_Customer          2040 non-null   object
 8   Recency              2040 non-null   int64
 9   MntWines             2040 non-null   int64
 10  MntFruits            2040 non-null   int64
 11  MntMeatProducts      2040 non-null   int64
 12  MntFishProducts      2040 non-null   int64
 13  MntSweetProducts     2040 non-null   int64
 14  MntGoldProds         2040 non-null   int64
 15  NumDealsPurchases    2040 non-null   int64
 16  NumWebPurchases      2040 non-null   int64
 17  NumCatalogPurchases  2040 non-null   int64
 18  NumStorePurchases    2040 non-null   int64
 19  NumWebVisitsMonth    2040 non-null   int64
 20  AcceptedCmp3         2040 non-null   int64
 21  AcceptedCmp4         2040 non-null   int64
 22  AcceptedCmp5         2040 non-null   int64
 23  AcceptedCmp1         2040 non-null   int64
 24  AcceptedCmp2         2040 non-null   int64
 25  Complain             2040 non-null   int64
 26  Z_CostContact        2040 non-null   int64
 27  Z_Revenue            2040 non-null   int64
 28  Response             2019 non-null   float64
dtypes: float64(1), int64(23), object(5)
memory usage: 462.3+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 2039 entries, 0 to 2039
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2039 non-null   int64
 1   Year_Birth           2039 non-null   int64
 2   Education            2039 non-null   object
 3   Marital_Status       2039 non-null   object
 4   Income               2039 non-null   float64
 5   Kidhome              2039 non-null   int64
 6   Teenhome             2039 non-null   int64
 7   Dt_Customer          2039 non-null   datetime64[ns]
 8   Recency              2039 non-null   int64
 9   MntWines             2039 non-null   int64
 10  MntFruits            2039 non-null   int64
 11  MntMeatProducts      2039 non-null   int64
 12  MntFishProducts      2039 non-null   int64
 13  MntSweetProducts     2039 non-null   int64
 14  MntGoldProds         2039 non-null   int64
 15  NumDealsPurchases    2039 non-null   int64
 16  NumWebPurchases      2039 non-null   int64
 17  NumCatalogPurchases  2039 non-null   int64
 18  NumStorePurchases    2039 non-null   int64
 19  NumWebVisitsMonth    2039 non-null   int64
 20  AcceptedCmp3         2039 non-null   int64
 21  AcceptedCmp4         2039 non-null   int64
 22  AcceptedCmp5         2039 non-null   int64
 23  AcceptedCmp1         2039 non-null   int64
 24  AcceptedCmp2         2039 non-null   int64
 25  Complain             2039 non-null   int64
 26  Z_CostContact        2039 non-null   int64
 27  Z_Revenue            2039 non-null   int64
 28  Response             2039 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(24), object(2)
memory usage: 477.9+ KB
None
                 ID   Year_Birth         Income      Kidhome     Teenhome  \
count   2039.000000  2039.000000    2039.000000  2039.000000  2039.000000
mean    5598.124080  1968.523786   52145.319765     0.440902     0.509564
min        0.000000  1940.000000       0.000000     0.000000     0.000000
25%     2842.500000  1959.000000   35378.000000     0.000000     0.000000
50%     5493.000000  1970.000000   51518.000000     0.000000     0.000000
75%     8440.500000  1977.000000   68655.000000     1.000000     1.000000
max    11191.000000  1996.000000  666666.000000     2.000000     2.000000
std     3248.980788    11.692255   25816.553609     0.538338     0.546899

                         Dt_Customer      Recency     MntWines    MntFruits  \
count                           2039  2039.000000  2039.000000  2039.000000
mean   2013-06-24 08:41:54.173614592    50.844532   311.783718    26.797940
min              2012-01-08 00:00:00     0.000000     0.000000     0.000000
25%              2013-01-02 00:00:00    24.000000    25.000000     1.000000
50%              2013-06-10 00:00:00    50.000000   182.000000     8.000000
75%              2013-12-09 00:00:00    74.000000   513.500000    33.000000
max              2014-12-06 00:00:00   861.000000  1493.000000   490.000000
std                              NaN    41.689785   341.587041    43.120007

       MntMeatProducts  ...  NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  \
count      2039.000000  ...        2039.000000   2039.000000   2039.000000
mean        169.085336  ...           5.252084      0.073565      0.076999
min           0.000000  ...           0.000000      0.000000      0.000000
25%          16.000000  ...           3.000000      0.000000      0.000000
50%          68.000000  ...           6.000000      0.000000      0.000000
75%         234.500000  ...           7.000000      0.000000      0.000000
max        1725.000000  ...          20.000000      1.000000      1.000000
std         228.153848  ...           2.492622      0.261126      0.266655

       AcceptedCmp5  AcceptedCmp1  AcceptedCmp2     Complain  Z_CostContact  \
count   2039.000000   2039.000000   2039.000000  2039.000000    2039.000000
mean       0.075037      0.062776      0.013732     0.039235       3.082393
min        0.000000      0.000000      0.000000     0.000000       3.000000
25%        0.000000      0.000000      0.000000     0.000000       3.000000
50%        0.000000      0.000000      0.000000     0.000000       3.000000
75%        0.000000      0.000000      0.000000     0.000000       3.000000
max        1.000000      1.000000      1.000000     3.000000      11.000000
std        0.263515      0.242619      0.116406     0.315499       0.807885

         Z_Revenue     Response
count  2039.000000  2039.000000
mean     10.887200     0.152526
min       0.000000     0.000000
25%      11.000000     0.000000
50%      11.000000     0.000000
75%      11.000000     0.000000
max      11.000000     1.000000
std       1.106244     0.359618

[8 rows x 27 columns]
Marital_Status
Married     783
Together    522
Single      443
Divorced    209
Widow        72
Other        10
Name: count, dtype: int64